---
import img from "../../assets/background.png";
import avatar from "../../assets/avatar.png";
---

<div
  class="relative bg-gradient-blue flex flex-col justify-center items-center overflow-hidden h-screen bg-gray-900 py-8 md:py-24 lg:py-72 lg:pt-40 animate-fade-in"
>


  <!-- Gradient Overlay on Small Screens -->
  <div
    class="hidden sm:block sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:transform-gpu sm:blur-3xl"
    aria-hidden="true"
  >
    <div
      class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20"
      style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
    >
    </div>
  </div>

  <!-- Gradient Overlay on Large Screens -->
  <div
    class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:hidden"
    aria-hidden="true"
  >
    <div
      class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20"
      style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
    >
    </div>
  </div>

  <div class="mx-auto max-w-7xl px-6 sm:pb-12 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">
        Welcome to My Portfolio
      </h2>
      <p class="mt-6 text-lg leading-8 text-white">
        I'm Renas Baris Ozkal. I'm a software developer. This is the page where
        you can find my projects, career, and blog posts. Also, you can find my
        contact information whenever you want to work with me.
      </p>
    </div>
  </div>
</div>

<div class="flex justify-center animate-fade-in">
  <div class="w-full flex flex-wrap items-center">
    <!-- Image Area (on the right) -->
    <div class="w-full md:w-1/2 s:w-1/4">
      <img src={avatar.src} alt="Your Photo" class="w-full" />
    </div>

    <!-- Text Area (on the left) -->
    <div class="w-full p-4 md:w-1/2">
      <section class="mb-32 p-12 pb-0 text-center">
        <h2
          class="mb-12 text-5xl font-bold tracking-tight md:text-6xl xl:text-7xl"
        >
          <br />
          <span class="text-primary dark:text-primary-400"
            >What You'll Find Here</span
          >
        </h2>
        <p class="text-lg text-neutral-500 dark:text-neutral-300">
          In this portfolio, you'll discover my journey through the world of
          technology, from my educational background and professional
          experiences to the projects I've undertaken and the skills I've
          acquired along the way.
        </p>
        <br />
        <br /><br /><br />
        <p class="text-lg text-neutral-500 dark:text-neutral-300">
          But that's not all! Beyond the tech and code, you'll also glimpse into
          my passions, interests, and the creative spirit that drives me. From
          coding challenges to innovative projects, this portfolio is a window
          into the multifaceted world of technology through my eyes.
        </p>
      </section>
    </div>
  </div>
</div>

<!-- Section: Design Block -->

<!-- Container for demo purpose -->
<style>
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .animate-fade-in {
    animation: fade-in 1s ease-in-out forwards;
    opacity: 0; /* Initial opacity set to 0 */
  }
  .bg-gradient-blue{
    background: linear-gradient(to right, #5036bc, #0083ff);
  }
</style>
