---
import Navbar from "../components/Navbar/Navbar";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Baris Ozkal's portfolio where you can find his projects, academic career and experience."
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="title" content="Baris Ozkal Portfolio">
<meta name="description" content="I'm Renas Baris Ozkal. I'm a software developer. This is the page whereyou can find my projects, career, and blog posts. ">
<meta name="keywords" content="frontend, web development, backend development, vue, react, angular, javascript, portfolio, baris ozkal, renas baris ozkal, html,css,responsive web applications, javascript frameworks, baris ozkal portfolio">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta title={title} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <Navbar client:visible />
      <slot>Default Text</slot>
    </main>
  </body>
</html>

<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
</style>
